{% extends "admin:admin/app_index.html" %}
{% load admin_extras %}
{% load static %}
{% load i18n admin_static admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block breadcrumbs %}
	<div class="admin_shortcuts">
		{% admin_shortcuts %}
	</div>
{% endblock %}

 {% block extrastyle %}<style type="text/css">{% admin_shortcuts_css %}</style>
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}


{% block extrahead %}{{ block.super }}{% admin_shortcuts_js %}{% endblock %}

{# end changes #}


{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}




{
{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list|slice:":1"%}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'People' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}"><h1>People and Organizations</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Organizations' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Affiliation (relate people and organizations)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Variables' and varnotfound %}
             <tr ><td  class="model-{{ model.object_name|lower }}"><h1>Variables and Units</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Units' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Taxonomic classifiers' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">Taxonomic classifiers- to describe Results and Specimens</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Methods' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}">Methods and Actions</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Actions' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Related action (associates one action with another)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Action by' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Sampling features' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}"><h1>Locations and Actions at Locations</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Relate two features' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Sampling feature action (link sampling features and actions)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Datatsets' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Results' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}"><h1>Result Definitions</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Datasets' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">Datasets- a description (title, abstract) of
                some set of results </a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Dataset results' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">associate datasets and results-
                    results can be described with many datasets, and datasets can be made of many results.</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Processing levels' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement results' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}"><h1>Result Values</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement result values' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement result value files' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger program files' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}"><h1>Data Logger Files</h1></td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger files' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger file columns' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Process data logger files' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}
		
        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Instrument output variables' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Equipment models' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



    {% endfor %}
    {% endif %}


</div>
{% endblock %}