<!--check this for options https://docs.djangoproject.com/en/1.4/obsolete/admin-css/-->
{% extends "admin/index.html" %}
{% load admin_extras %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}


{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list|slice:"1:2"%}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'People' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}">People and Organizations</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Organizations' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Affiliation (relate people and organizations)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Variables' and varnotfound %}
             <tr ><td  class="model-{{ model.object_name|lower }}">Variables and Units</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Units' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Taxonomic classifiers' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Methods' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}">Methods and Actions</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Actions' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Related action (associates one action with another)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Action by' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Sampling features' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}">Locations and Actions at Locations</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Sampling feature action (link sampling features and actions)' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Datatsets' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Results' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}">Result Definitions</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Datasets' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">Datasets- a description (title, abstract) of
                some set of results </a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Dataset results' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">associate datasets and results-
                    results can be described as with many datasets, and datasets can be made of many results.</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Processing levels' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement results' and varnotfound %}
                <tr ><td  class="model-{{ model.object_name|lower }}">Result Values</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}

        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement result values' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Measurement result value files' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger program files' and varnotfound %}
            <tr ><td  class="model-{{ model.object_name|lower }}">data logger files</td></tr>
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger files' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Data logger file columns' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}


        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Instrument output variables' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



        {% assign varnotfound True %}
        {% for model in app.models %}
            {% if model.admin_url and model.name == 'Equipment models' and varnotfound %}
                <tr class="model-{{ model.object_name|lower }}">
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% assign varnotfound False %}
            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endif %}
        {% endfor %}



    {% endfor %}
    {% endif %}

{% if app_list %}
    {% for app in app_list|slice:":1"%}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>

        {% for model in app.models %}
            {% if app.name == "Authentication and Authorization" %}
                <tr class="model-{{ model.object_name|lower }}">
                {% if model.admin_url %}
                    <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
                {% else %}
                    <th scope="row">{{ model.name }}</th>
                {% endif %}

                {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                {% if model.admin_url %}
                    <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
                </tr>
                {% endif %}
        {% endfor %}
    {% endfor %}

{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-main">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}