

#  C extensions
*.ipynb
*.so

#  Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
/odm2testsite/__pycache__
__pycache__
upfiles
migrations
odm2djangoadmin.git
omit
static

#  Installer logs
pip-log.txt

#  Unit test / coverage reports
.coverage
.tox
nosetests.xml

#  Translations
*.mo

#  Mr Developer
.mr.developer.cfg
.project
.pydevproject


log
*.log
.idea

ODM2CZOData/__init__.pyc
ODM2CZOData/admin.pyc
ODM2CZOData/forms.pyc
ODM2CZOData/lookups.pyc
ODM2CZOData/management/__init__.pyc
ODM2CZOData/models.pyc
ODM2CZOData/templatetags/__init__.pyc
ODM2CZOData/templatetags/admin_extras.pyc
ODM2CZOData/views.pyc
templatesAndSettings/__init__.pyc
templatesAndSettings/base.pyc
templatesAndSettings/settings.pyc
templatesAndSettings/urls.pyc
templatesAndSettings/wsgi.pyc
