

#  C extensions
.ipynb_checkpoints
*~
*DS_Store
*.so


#  Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
/odm2testsite/__pycache__
__pycache__

templatesAndSettings/settings.py
templatesAndSettings/settings
.gitignore
odm2djangoadmin.git
omit
migrations
upfiles
backup migrations
#  Installer logs
pip-log.txt

#  Unit test / coverage reports
.coverage
.tox
nosetests.xml

#  Translations
*.mo

#  Mr Developer
.mr.developer.cfg
.project
.pydevproject


log
*.log
.idea/
*.pyc
.gitignore