django==1.10.3
django-uuidfield
django-ajax-selects
django-admin-shortcuts
djangocms_admin_style
django-apptemplates
django-daterange-filter
django-import-export
django-jquery
django-recaptcha
psycopg2
requests
