django-admin-shortcuts
django-ajax-selects
django-apptemplates
django-daterange-filter
django-import-export
django-jquery
django==1.10
# versions !=0.2.7 generates a broken page
djangocms-admin-style==0.2.7
psycopg2
requests
django-recaptcha
