django-admin-shortcuts
django-ajax-selects
django-apptemplates
django-daterange-filter
django-import-export
django-jquery
# django-kronos
#django-ajax-selects is not working with django 2.1.2 or 2.1.1
django
# Pinned to 0.2.7 to preserve page style.
djangocms-admin-style==0.2.7
psycopg2
requests
django-recaptcha
# django-redis
pyyaml
numpy
pandas
xlrd
django-redis
django-fixture-magic
hs_restclient
social-auth-app-django
# djutils
# uwsgi
celery
# django_celery_beat