

{% block content %}
<br>
    
	<form action="" method="post">
	{% csrf_token %} 
	<select class="form-control" id="s1" name="selection">
              <option><b>select a result to update chart</b></option>
              {% for Result in resultList %}
                <option value="{{ Result.resultid }}">{{ Result }}</option>
              {% endfor %}
            </select>
			<br>
			<input id="startDate" maxlength="100" name="startDate" type="text">
			Start Date (format YYYY-MM-DD HH:MM) </input>
			<input id="endDate" maxlength="100" name="endDate" type="text"/>
			End Date (format YYYY-MM-DD HH:MM) </input>
			<br>
	<input type="submit" name="update_chart" value="Update Chart" /></form>
{% endblock %}