{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load static %}
{% load i18n  admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block extrastyle %}
    <style type="text/css">{% admin_shortcuts_css %}</style>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}


{% block extrahead %}{{ block.super }}{% admin_shortcuts_js %}{% endblock %}

{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block title %}
    {{ short_title }} | {{ site_title }}
{% endblock %}

{% block branding %}
    <h1>{{ site_header }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if authenticated %}
        <div class="admin_shortcuts">
            {% admin_shortcuts %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id="content-main">


<div class="app-odm2testapp module">
        <table>
                
				<tr ><td class="section"><h1>Add Soil Profile Data</h1></td></tr>
				<th scope="row"><a href="{{prefixpath }}results/">
                    {% trans 'Add a Data Result- describes variables and units, start and end times' %}</a></th>
                <td><a href="{{prefixpath }}results/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}results/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr >

                <th scope="row"><a href="{{prefixpath }}variables/"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '--Add Variable Recorded--' %}</h6></a></th>
                <td><a href="{{prefixpath }}variables/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}variables/" class="changelink">{% trans 'Change' %}</a></td>

                </tr >

                <tr >
                <th scope="row"><a href="{{prefixpath }}units/"><h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans '-- Units for Variable--' %}</h6></a></th>
                <td><a href="{{prefixpath }}units/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}units/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr>
                 <th scope="row"><a href="{{prefixpath }}samplingfeatures/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'Add Site/Location of Sampling' %}</a></th>
                <td><a href="{{prefixpath }}samplingfeatures/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}samplingfeatures/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr >
                <th scope="row"><a href="{{prefixpath }}actions/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% trans 'Add a sampling action' %}</a></th>
                <td><a href="{{prefixpath }}actions/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}actions/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<th scope="row"><a href="{{prefixpath }}featureactions/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% trans 'Record a sampling action at a location' %}</a></th>
                <td><a href="{{prefixpath }}featureactions/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}featureactions/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr>
				<th scope="row"><a href="{{prefixpath }}profileresults/">
                    {% trans 'Add a Soil Profile Result describes position and depths' %}</a></th>
                <td><a href="{{prefixpath }}profileresults/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}profileresults/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr>
				<th scope="row"><a href="{{prefixpath }}profileresultvalues/">
                    {% trans 'Add Soil Profile Result Values' %}</a></th>
                <td><a href="{{prefixpath }}profileresultvalues/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}profileresultvalues/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				
				
        </table>


{% endblock %}
