{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load static %}
{% load i18n  admin_shortcuts_tags %}

{% block extrastyle %}
    <style type="text/css">{% admin_shortcuts_css %}</style>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}


{% block extrahead %}{{ block.super }}{% admin_shortcuts_js %}{% endblock %}

{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block title %}
    {{ short_title }} | {{ site_title }}
{% endblock %}

{% block branding %}
    <h1>{{ site_header }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if authenticated %}
        <div class="admin_shortcuts">
            {% admin_shortcuts %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="app-ODM2CZOData module">
    <table>

        <tr>
            <td class="section"><h1>Add by Datalogger File</h1></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}dataloggerprogramfiles/">
                {% trans 'Upload a data logger program' %}</a></th>
            <td><a href="{{ prefixpath }}dataloggerprogramfiles/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}dataloggerprogramfiles/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}dataloggerfiles/">
                {% trans 'Upload a data logger file' %}</a></th>
            <td><a href="{{ prefixpath }}dataloggerfiles/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}dataloggerfiles/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}dataloggerfilecolumns/">
                {% trans 'link data logger file columns and data results' %}</a></th>
            <td><a href="{{ prefixpath }}dataloggerfilecolumns/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}dataloggerfilecolumns/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <th scope="row"><a href="{{ prefixpath }}processdataloggerfile/">
            {% trans 'Process your data logger file' %}</a></th>
        <td><a href="{{ prefixpath }}processdataloggerfile/add/" class="addlink">{% trans 'Add' %}</a></td>
        <td><a href="{{ prefixpath }}processdataloggerfile/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>

        <tr>
            <td class="section"><h1>Add Equipment, Sensors and Data</h1></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}organizations/">
                <h6>{% trans 'Add Equipment Manufacturer' %}</h6></a></th>
            <td><a href="{{ prefixpath }}organizations/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}organizations/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}equipmentmodels/">{% trans 'Add Equipment Model' %}</a></th>
            <td><a href="{{ prefixpath }}equipmentmodels/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}equipmentmodels/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>


        <tr>
            <th scope="row"><a href="{{ prefixpath }}samplingfeatures/">{% trans 'Add Location of Sensors or equipment' %}</a></th>
            <td><a href="{{ prefixpath }}samplingfeatures/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}samplingfeatures/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}sites/">
                {% trans 'Sites - sites have a sampling feature, sampling features of type site must have a site' %}</a></th>
            <td><a href="{{ prefixpath }}sites/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}sites/" class="changelink">{% trans 'Change' %}</a></td>
                    </tr>
        <tr>
            <td></td>
        </tr>
        <tr>

            <th scope="row"><a href="{{ prefixpath }}variables/"><h6>{% trans 'Add Variable Recorded' %}</h6></a>
            </th>
            <td><a href="{{ prefixpath }}variables/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}variables/" class="changelink">{% trans 'Change' %}</a></td>

        </tr>

        <tr>
            <th scope="row"><a href="{{ prefixpath }}units/"><h6>{% trans 'Add Units for Variable' %}</h6></a></th>
            <td><a href="{{ prefixpath }}units/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}units/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row">{% trans 'Add Data Result and Time Series result' %}</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}methods/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% trans 'Add Equipment Depolyment Method (one per equipment model)' %}</a></th>
            <td><a href="{{ prefixpath }}methods/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}methods/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}actions/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% trans 'Add Sensor Equipment Depolyment Action (one per equipment model)' %}</a></th>
            <td><a href="{{ prefixpath }}actions/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}actions/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}featureactions/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% trans 'Add Feature Action link location with a sensor or piece of equipment ' %}</a></th>
            <td><a href="{{ prefixpath }}featureactions/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}featureactions/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}instrumentoutputvariables/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% trans 'Instrument output variables' %}</a></th>
            <td><a href="{{ prefixpath }}instrumentoutputvariables/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}instrumentoutputvariables/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
        <tr>
            <th scope="row"><a href="{{ prefixpath }}results/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% trans 'Add Data Result and Time Series result' %}</a></th>
            <td><a href="{{ prefixpath }}results/add/" class="addlink">{% trans 'Add' %}</a></td>
            <td><a href="{{ prefixpath }}results/" class="changelink">{% trans 'Change' %}</a></td>
        </tr>
    </table>

</div>
    </div>
{% endblock %}
