<!--check this for options https://docs.djangoproject.com/en/1.4/obsolete/admin-css/




-->

{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load static %}
{% load i18n admin_static admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block breadcrumbs %}
 {% if authenticated %}
        <div class="admin_shortcuts">
            {% admin_shortcuts %}
        </div>
    {% endif %}
{% endblock %}

 {% block extrastyle %}<style type="text/css">{% admin_shortcuts_css %}</style>
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block title %}
    Soils Data | {{ "site_title"|get_title:6 }}
{% endblock %}

{% block branding%}
    <h1>{{ "site_header"|get_title:6 }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://highcharts.github.io/export-csv/export-csv.js"></script>
	 <script>
    var chart_id = 'chartid'
    var chart = {{ chart|safe }}
    var title2 = {{ title2|safe }}
    var yAxis = {{ yAxis|safe }}
	var None = null
	//var xAxisCategories = {{ xAxisCategories|safe}}
    var series = {{ series|safe }}
	var name_of_units = {{name_of_units|safe}}
	var graphType =   '{{graphType|safe }}'

$(document).ready(function() {
	
	var opposite2 = false;
	yaxes = [];
	for (var i=0; i<name_of_units.length; i++) {
		name = name_of_units[i];
		//alert(name);
		 
		axi = {id: name,
		labels: {
                format: '{value}',
                style: {
                    color: Highcharts.getOptions().colors[i]
                }
            },
		title: {
			text: name
		},
		//lineWidth: 2,
        //lineColor: Highcharts.getOptions().colors[i],
		opposite: opposite2
		};
		yaxes.push(axi);
		opposite2 = !opposite2;
	}
	//yAxis[1] = yAxis2.replace('"','');
	var chart =$('#chartid').highcharts({
		chart: {renderTo: chart_id, type: graphType,  zoomType: 'xy',},
        title: title2,
        xAxis: {
		//categories: xAxisCategories
		type: "category"
		},
		series: series,
        yAxis:yaxes,
		plotOptions: {
            column: {
        pointPadding: 0,
        borderWidth: 3,
        groupPadding: 0,
        shadow: false
		}},
			//scatter: {
              //  marker: {
                //    radius: 5,
                //    states: {
                //        hover: {
                //            enabled: true,
                            //lineColor: 'rgb(100,100,100)'
                //        }
                 //   }
                //}}},
       
		tooltip: {
    formatter: function() {
        return ''+
				this.series + 
                ' Value: ' + this.y;
    }
},
    });
	
	//alert(name_of_units.length);
	
	
	});
</script>


{% admin_shortcuts_js %}{% endblock %}
{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}




{% block content %}



    <div id='content-main'> {% csrf_token %}
	 </div>
	<div id='chartid' class="chart" style="height:75%; width:100%"></div>
	

{% include 'FeatureAndVariableList.html' %}
<p>{{data_disclaimer.text}} <a href={{data_disclaimer.link}} target="_blank"> {{data_disclaimer.linktext}}</a></p>
{% endblock %}


{% block overwrite %}
<!-- Overwrite the base.html jQuery load and put in head for Highcharts to work -->
{% endblock %}
{% block extrajs %}
<!-- Maps the Python template context variables from views.py to the Highchart js variables -->

{% endblock %}