{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load static %}
{% load i18n  admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block extrastyle %}
    <style type="text/css">{% admin_shortcuts_css %}</style>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>{% endblock %}


{% block extrahead %}{{ block.super }}{% admin_shortcuts_js %}{% endblock %}

{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block title %}
    {{ short_title }} | {{ site_title }}
{% endblock %}

{% block branding %}
    <h1>{{ site_header }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if authenticated %}
        <div class="admin_shortcuts">
            {% admin_shortcuts %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id="content-main">


<div class="app-odm2testapp module">
        <table>
               
				<tr ><td class="section"><h1>Manage Citations</h1></td></tr>
				<tr>
				<th scope="row"><a href="{{prefixpath }}citations/">
                    {% trans 'Citations' %}</a></th>
                <td><a href="{{prefixpath }}citations/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}citations/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<tr>
				<th scope="row"><a href="{{prefixpath }}authorlists/">
                    {% trans 'Authors' %}</a></th>
                <td><a href="{{prefixpath }}authorlists/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}authorlists/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<th scope="row"><a href="{{prefixpath }}datasetcitations/">
                    {% trans 'Dataset Citations' %}</a></th>
                <td><a href="{{prefixpath }}datasetcitations/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}datasetcitations/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
				<th scope="row"><a href="{{prefixpath }}methodcitations/">
                    {% trans 'Method Citations' %}</a></th>
                <td><a href="{{prefixpath }}methodcitations/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}methodcitations/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
                <th scope="row"><a href="{{prefixpath }}extensionproperties/">
                    {% trans 'Citation Properties' %}</a></th>
                <td><a href="{{prefixpath }}extensionproperties/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}extensionproperties/" class="changelink">{% trans 'Change' %}</a></td>
                </tr>
                <th scope="row"><a href="{{prefixpath }}citationextensionpropertyvalues/">
                    {% trans 'Citation Property Values' %}</a></th>
                <td><a href="{{prefixpath }}citationextensionpropertyvalues/add/" class="addlink">{% trans 'Add' %}</a></td>
                <td><a href="{{prefixpath }}citationextensionpropertyvalues/" class="changelink">{% trans 'Change' %}</a></td>
            </tr>
            <tr><th scope="row"><a href="publications.html">
                    {% trans 'Publications list' %}</a></th>
            </tr>
				
        </table>


{% endblock %}
