{% load staticfiles %}
<script src="{% static "jquery-1.12.4/jquery-1.12.4.min.js" %}"></script>
<script src="https://use.fontawesome.com/eb9894ac79.js"></script>

<!-- LEAFLET CODE AND PLUGINS -->
<link rel="stylesheet" href="{% static "leaflet-1.0.1/leaflet.css" %}"/>
<script src="{% static "leaflet-1.0.1/leaflet.js" %}"></script>

<link rel="stylesheet" href="{% static "leaflet-marker-cluster/MarkerCluster.Default.css" %}" />
<link rel="stylesheet" href="{% static "leaflet-marker-cluster/MarkerCluster.css" %}" />

<script src="{% static "leaflet-marker-cluster/leaflet.markercluster-src.js" %}"></script>
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

<link rel="stylesheet" href="{% static "leaflet-awesome-marker/css/leaflet.awesome-markers.css" %}">
<script src="{% static "leaflet-awesome-marker/js/leaflet.awesome-markers.js" %}"></script>
<link rel="stylesheet" href="{% static "leaflet-legend/leaflet-legend.css" %}">
<script src="{% static "leaflet-legend/leaflet-legend.js" %}"></script>
<link rel="stylesheet" href="{% static "leaflet-grouped-layer-control/leaflet.groupedlayercontrol.css" %}" />
<script src="{% static  "leaflet-grouped-layer-control/leaflet.groupedlayercontrol.js" %}"></script>

<!-- END LEAFLET CODE AND PLUGIN -->

<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
<script src="{% static "js/AjaxRequest.js" %}"></script>
<script src="{% static "js/App.js" %}"></script>
<script src="{% static "js/Map.js" %}"></script>