{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load admin_shortcuts_mod %}
{% load staticfiles %}
{% load static %}



{% load i18n admin_static admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block extrastyle %}
    <style type="text/css">{% admin_shortcuts_css %}</style>
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>

	{% endblock %}

{% block title %}
    {{ short_title }} | {{ site_title }}
{% endblock %}

{% block branding %}
    <h1>{{ site_header }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if authenticated %}
        {% if not user.groups.all.0 %}
            <div class="admin_shortcuts">
                {% admin_shortcuts %}
            </div>
        {% else %}
            {% for group in user.groups.all %}
                {% if group.name != 'readonly' %}
                    <div class="admin_shortcuts">
                        {% admin_shortcuts %}
                    </div>
                {% else %}
                    <div class="admin_shortcuts">
                        {% admin_shortcuts_filter %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extrahead %}<script src="https://use.fontawesome.com/57b6c04fb7.js"></script>
    {{ block.super }}
    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/eb9894ac79.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css"/>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>

    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
	<script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <link rel="stylesheet"
          href="http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-awesome-marker/css/leaflet.awesome-markers.css">
    <script src="http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-awesome-marker/js/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-legend/leaflet-legend.css">
    <script src="http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-legend/leaflet-legend.js"></script>

	<style type="text/css">
        .leaflet-google-layer {
            z-index: 0;
        }
        .leaflet-map-pane {
            z-index: 100;
        }
        .legend {
            line-height: 18px;
            color: #555;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: -1px 3px 10px -1px rgba(0, 0, 0, 0.4);
            opacity: 0.9;
        }
        /*.datasets-listing{
            color: #555;
            background-color: white;
            border-radius: 10px;
            box-shadow: -1px 3px 10px -1px rgba(0, 0, 0, 0.4);
            opacity: 0.9;
            padding:20px;
        }*/
        #legend{
            padding:20px;
        }
        .legend-icon {
            background-image: url(http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-awesome-marker/img/markers-soft.png);
            background-repeat: no-repeat;
            width: 35px;
            height: 46px;
            text-align: center;
            float: left;
        }
        .legend-icon > i {
            color: #fff;
            margin-top: 10px;
            display: inline-block;
            font-size: 14px;
        }
        .legend-item {
            clear: both;
        }
        .legend-text {
            float: left;
            padding-top: 10px;
        }
        .awesome-marker {
            background-image: url("http://nile.apl.washington.edu/files/cz/czimea/odm2admin/leaflet-awesome-marker/img/markers-soft.png") !important;
            background-repeat: no-repeat !important;
            height: 46px !important;
            width: 35px !important;
        }
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
    {% admin_shortcuts_js %}{% endblock %}

{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}




{% block content %}

    <div id='content-main'> {% csrf_token %}</div>
    <div style="width:100%; height:900px;" id="map"></div>
    <div id="legend">
       {% include 'DatasetsList.html' %}
    </div>
    {% comment %}
    <script type="text/template" id="datasetsList">
        {% include 'DatasetsList.html' %}
    </script>
    {% endcomment %}
    <script type='text/javascript'>
        var feature_list = [];
        {% for feats in legends %}
            feature_list.push(
                    {
                        "name": "{{ feats.feature_type }}",
                        "styleclass": "{{ feats.style_class }}",
                        "icon": "{{ feats.icon }}",
                        "color": "{{ feats.color }}"
                    }
            );
        {% endfor %}
        // Create Map and set view to LatLong: 18.28263, -65.77458 with zoom level 14
        var myMap = L.map('map',{worldCopyJump:true}).setView([ {{ map_config.lat }}, {{ map_config.lon }}], {{ map_config.zoom }});
        // var myMap = L.map('map',{worldCopyJump:true}).setView([ 18.28263, -65.77458], 14);
        // var myMap = L.map('map',{worldCopyJump:true}).setView([40.000,-95.000], 5); // For Crossczo
        var m = null;
        var Esri_NatGeoWorldMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
			maxZoom: 16
			}).addTo(myMap);
		var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
			}).addTo(myMap);
		var Esri_WorldTopoMap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
		attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
		}).addTo(myMap);
		var osm = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
            maxZoom: 20,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery &copy; <a href="http://mapbox.com">Mapbox</a>', id: 'mapbox.run-bike-hike'
        }).addTo(myMap);
        var markerClusters = L.markerClusterGroup(singleMarkerMode=true); //,maxClusterRadius=1
		
        {% for site in features|filter_coords %}
            var feat_obj = feature_list.filter(
                    function( obj ){
                        return obj.name == '{{ site.sampling_feature_type.name }}'
                    });
            var popup = '';
            {% if  site.sampling_feature_type.name == "Site" or site.sampling_feature_type.name == "Observation well" or site.sampling_feature_type.name == "Stream gage" or site.sampling_feature_type.name == "Transect" or site.sampling_feature_type.name == "Weather station" %}
                popup = '<br><h2>Sampling Feature: {{ site.samplingfeaturename }}</h2>'
                        + '<hr />'
                        + '<p>Sampling Feature Code: {{ site.samplingfeaturecode }}'
                        + '<br>Sampling Feature Type: {{ site.sampling_feature_type.name }}'
                        + '<br>Coordinates: [{{ site.featuregeometry|get_lat_lng:'lat' }},{{ site.featuregeometry|get_lat_lng:'lon' }}]'
                        + '<br> {{ site.sampling_feature_type.name}}'
                        + '<br> <a  target="_blank" href="{{prefixpath}}../graphfa/samplingfeature&#61;{{site.samplingfeatureid}}">view times series data in new page</a></p><iframe  width=600, height=600, src="{{prefixpath}}../mappopup/samplingfeature&#61;{{site.samplingfeatureid}}/popup=true" name="iframe_A"></iframe></p>';
			{% elif  site.sampling_feature_type.name == "Excavation" %}
                popup = '<br><h2>Sampling Feature: {{ site.samplingfeaturename }}</h2>'
                        + '<hr />'
                        + '<p>Sampling Feature Code: {{ site.samplingfeaturecode }}'
                        + '<br>Sampling Feature Type: {{ site.sampling_feature_type.name }}'
                        + '<br>Coordinates: [{{ site.featuregeometry|get_lat_lng:'lat' }},{{ site.featuregeometry|get_lat_lng:'lon' }}]'
                        + '<br> {{ site.sampling_feature_type.name}}'
                        + '<br><a  target="_blank" href="{{prefixpath}}../profilegraph/samplingfeature&#61;{{site.samplingfeatureid}}/popup=true"> View soil profile data in new page</a></p><iframe  width=600, height=500, src="{{prefixpath}}../profilegraph/samplingfeature&#61;{{site.samplingfeatureid}}/popup=true" name="iframe_A"></iframe></p>';
			{% elif  site.sampling_feature_type.name == "Field area" %}
                popup = '<br><h2>Sampling Feature: {{ site.samplingfeaturename }}</h2>'
                        + '<hr />'
                        + '<p>Sampling Feature Code: {{ site.samplingfeaturecode }}'
                        + '<br>Sampling Feature Type: {{ site.sampling_feature_type.name }}'
                        + '<br>Coordinates: [{{ site.featuregeometry|get_lat_lng:'lat' }},{{ site.featuregeometry|get_lat_lng:'lon' }}]'
                        + '<br> {{ site.sampling_feature_type.name}}'
                        + '<br><a  target="_blank" href="{{prefixpath}}../profilegraph/selectedrelatedfeature&#61;{{site.samplingfeatureid}}/popup=true"> View data for this field area in new page</a></p><iframe  width=600, height=500, src="{{prefixpath}}../profilegraph/selectedrelatedfeature&#61;{{site.samplingfeatureid}}/popup=true" name="iframe_A"></iframe></p>';
            {% else %}
                popup = '<br><h2>Sampling Feature: {{ site.samplingfeaturename }}</h2>'
                        + '<hr />'
                        + '<p>Sampling Feature Code: {{ site.samplingfeaturecode }}'
                        + '<br>Sampling Feature Type: {{ site.sampling_feature_type.name }}'
                        + '<br>Coordinates: [{{ site.featuregeometry|get_lat_lng:'lat' }},{{ site.featuregeometry|get_lat_lng:'lon' }}]</p>';
            {% endif %}
            var iconDiv = new L.DivIcon({
                className: feat_obj[0].styleclass + ' awesome-marker leaflet-zoom-animated leaflet-interactive',
                html: '<i class="fa '+  feat_obj[0].icon +' icon-white" aria-hidden="true"></i><p style="margin-top:20px;font-weight:bold;">{{ site.samplingfeaturecode }}</p>'
            });
			{% if  site.sampling_feature_type.name == "Site" or site.sampling_feature_type.name == "Observation well" or site.sampling_feature_type.name == "Field area" or site.sampling_feature_type.name == "Stream gage" or site.sampling_feature_type.name == "Transect" or site.sampling_feature_type.name == "Weather station"  %}
                m = L.marker([{{ site.featuregeometry|get_lat_lng:'lat' }}, {{ site.featuregeometry|get_lat_lng:'lon' }}], {
                    icon: iconDiv, title: '{{ site.samplingfeaturename }}'
                }).bindPopup( popup,{minWidth: 600, minHeight: 500,autoPanPadding: [10, 50],  autoPan: true, closeButton: true,offset: [0, 5]} );
			    {% if map_config.cluster_sites and  site.sampling_feature_type.name == "Site" %}
					markerClusters.addLayer(m);
				{% else %} 
				    m.addTo(myMap);
				{% endif %}
			{% else %}
                m = L.marker([{{ site.featuregeometry|get_lat_lng:'lat' }}, {{ site.featuregeometry|get_lat_lng:'lon' }}], {
                    icon: iconDiv, title: '{{ site.samplingfeaturename }}'
                }).bindPopup( popup,{minWidth: 600, minHeight: 500, autoPanPadding: [10, 50], autoPan: true, closeButton: true,offset: [0, 5]} );
				markerClusters.addLayer(m);
			{% endif %}
        {% endfor %}
        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function (myMap) {
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += '<h2>Sample Feature Types</h2>';
            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < feature_list.length; i++) {
                div.innerHTML +=
                        '<div class="legend-item">' +
                        '      <div class="legend-icon ' + feature_list[i].styleclass + '">' +
                        '           <i class="fa ' + feature_list[i].icon + '" aria-hidden="true"></i>' +
                        '      </div>' +
                        '      <div class="legend-text">' + feature_list[i].name + '</div>' +
                        '</div>'
            }
                return div;
        };

        /*var legend2 = L.control({position:'bottomleft'});
        legend2.onAdd = function (myMap) {
            var div = L.DomUtil.create('div', 'info datasets-listing');
            div.innerHTML += document.getElementById('datasetsList').innerHTML;
            return div;
        };*/
        // https://github.com/mikeskaug/Leaflet.Legend
        var legend2 = new L.Control.Legend({
                        position: 'topleft',
                        collapsed: true,
                        controlButton: {
                            title: "Legend"
                        }});
        myMap.addControl( legend2 );

        $(".legend-container").append( $("#legend") );
        $(".legend-toggle").append( "<i class='legend-toggle-icon fa fa-filter fa-2x' style='color: #000;margin-left:5px;'></i>" );

        //legend2.addTo(myMap);
        legend.addTo(myMap);
        // Basemaps Choices
        basemaps = {
			'Esri_WorldImagery':Esri_WorldImagery,
			'Esri_WorldTopoMap':Esri_WorldTopoMap,
			'Esri_NatGeoWorldMap':Esri_NatGeoWorldMap,
			'OSM': osm,
        };
        myMap.addLayer(markerClusters);
        // Overlay Choices
        overlayMaps = {};
        // Put Control on map
        L.control.layers(basemaps, overlayMaps).addTo(myMap);
    </script>

{% endblock %}