{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load staticfiles %}
{% load static %}



{% load i18n admin_static admin_shortcuts_tags %}

{# django-admin-shortcuts changes these blocks #}

{% block extrastyle %}
    <style type="text/css">{% admin_shortcuts_css %}</style>
	{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>

	{% endblock %}

{% block title %}
    {{ short_title }} | {{ site_title }}
{% endblock %}

{% block branding %}
    <h1>{{ site_header }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
 {% if authenticated %}
        <div class="admin_shortcuts">
            {% admin_shortcuts %}
        </div>
    {% endif %}
{% endblock %}

{% block extrahead %}<script src="https://use.fontawesome.com/57b6c04fb7.js"></script>
    {{ block.super }}
    {% include 'mapdata_head.html' %}
    {% admin_shortcuts_js %}{% endblock %}

{# end changes #}
{##}
{#{% block coltype %}colM{% endblock %}#}
{##}
{#{% block bodyclass %}{{ block.super }} dashboard{% endblock %}#}




{% block content %}
    <div id="mapheader">
        {% csrf_token %}
        {% include 'ds_form.html' %}
        {% include 'sf_form.html' %}
        <div id="dataset-filter">
            {% include 'DatasetsList.html' %}
        </div>
        <div id="latlng" class="panel-header">
            <p>
                Lat: <span id="lat">0</span>, Lon: <span id="lng">0</span>
            </p>
        </div>
    </div>
    <div id="webmap">
		<div id="spinner"></div>
	</div>
    <script type="application/javascript">
        var url_path = "{{ urlpath }}";
		spinner = new Spinner().spin();
		spin=document.getElementById("spinner");
		spin.appendChild(spinner.el); 
        var display_titles = false;
        {% if map_config.display_titles %}
            display_titles = true;
        {% endif %}
        var myApp = new App;
        myApp.init({{ basemaps|safe }});
        var myMap = new MAP;
        myMap.initMap("webmap",
            [{{ map_config.lat }}, {{ map_config.lon }}], {{ map_config.zoom }}, {{ legends|safe }}, {{map_config.cluster_feature_types | safe}}, display_titles);
        myMap.addBaseMap(myApp.PARAMS.basemaps);

        var url = myMap.getUrl(JSON.parse('{{ selectedds|safe }}'), JSON.parse('{{ selectedtype|safe }}'));
        myMap.getData(url,spinner);
        myMap.makeFilter();   
    </script>
{% endblock %}