<!--check this for options https://docs.djangoproject.com/en/1.4/obsolete/admin-css/

class = row1 and row2? 

<button type="button"><span>View Time Series</span></button>

-->
{% extends "admin/base_site.html" %}
{% load admin_extras %}
{% load staticfiles %}
{% load static %}
{% load i18n  admin_shortcuts_tags %}
{# django-admin-shortcuts changes these blocks #}



 {% block extrastyle %}<style type="text/css">{% admin_shortcuts_css %}</style>
{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{% block title %}
    Sensor Dashboard | {{ "site_title"|get_title:6 }}
{% endblock %}

{% block branding%}
    <h1>{{ "site_header"|get_title:6 }}</h1>
{% endblock %}

{% block nav-global %}
    {% if authenticated %}
        {% include 'user-tools.html' %}
    {% endif %}
{% endblock %}
{% block breadcrumbs %}
{% if authenticated %}
	<div class="admin_shortcuts">
		{% admin_shortcuts %}
	</div>
	{% endif %}
{% endblock %}

{% block extrahead %}
<script src="{% static "jquery-1.12.4/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "spin.js/spin.min.js" %}"></script>
{{ block.super }}{% admin_shortcuts_js %}{% endblock %}

{# end changes #}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}



{% block content %}
<script>

$(document).ready(function(){
	var spinner = null;
	 $("#featureactionddl").change(function () {
        var selectedfeatureaction = $('#featureactionddl').val();
		url = "{{prefixpath|safe}}../sensordashboard/featureaction=" + selectedfeatureaction + "/"
		window.location.href = url;
    });
	$(".header").click(function () {
		spin=document.getElementById("spinner");
		spinner = new Spinner().spin();
		spin.appendChild(spinner.el); 
		$header = $(this);
		//getting the next element
		$content = $header.next();
		$load_time_series = $content["0"].lastChild.pathname;
		var prefixpath = "{{prefixpath|safe}}../..";
		var path = $load_time_series;
		var url = window.location.protocol + "//" + window.location.host +path;
		console.log(url);

		//$graph = $load_time_series.next();
		//console.log($graph);
		document.getElementById("highcharts_graph").data=url;
		document.getElementById("highcharts_graph").width = '75%';
		document.getElementById("highcharts_graph").height = '650';
		
		});
	
	$('#highcharts_graph')[0].addEventListener('load', function() {
		spinner.stop();   
}, true);
		});
</script>

<form action="" method="post">
{% csrf_token %} 
<div class="panel-header">
<p><h3>Sensor Dashboard </h3><p>
</div>
<div class="container">
<select id="featureactionddl">
<option value="">Select one...</option>
{% for featureaction in allfeatureactions %}
	<option value="{{featureaction.featureactionid}}">
	{{featureaction.samplingfeatureid}} - {{featureaction.action}}</option>
{% endfor %}
</select>
<div  id="spinner"></div>
<div class="graph-container" id="graph">
<object title="graph" id="highcharts_graph" type="text/html"></object>
</div>
{% for featureaction in featureactions %}
	<h3> {{featureaction.featureactionid}} {{featureaction.samplingfeatureid}} - {{featureaction.action.method.methodcode}}</h3>
{% endfor %}
<table>
					<tr class="sensor-dashboard">	
				{% for featureaction in featureactions %}

					<td class="sensor-dashboard">

				    <div class="module sensor-dashboard-width">
					<table class="module">
					<tr class="sensor-dashboard-header"><th colspan=2>Site</th>
					<th colspan=2 >Sensor</th></tr>
					<tr class="sensor-dashboard-header">
					<td class="sensor-dashboard"><a href=" {{prefixpath}}samplingfeatures/{{featureaction.samplingfeatureid.samplingfeatureid}}/change/">
					{{featureaction.samplingfeatureid}}</a></td>
					<td class="sensor-dashboard" colspan=2>{{featureaction.action.actiondescription}}</td>
					<td></td></tr>
					{% for result in results %}
						{% if featureaction == result.featureactionid %}
							<tr class="sensor-dashboard-header"><th colspan=3>Time series</th>
							<th>View Time Series</th></tr>
							<tr>
							<tr ><td class="sensor-dashboard-header" colspan=2>{{result.resultid}} - {{result.featureactionid.action.actiondescription}} -{{result.variableid}} - {{result.unitsid.unitsname}}</td>

							<td class="sensor-dashboard-header"></td>
							<td class="sensor-dashboard-header"> <div class="header">
							<a class="load_time_series" style="cursor: pointer;"><span>View Time Series</span></a>
							</div>
							<div class="content" style="height: 0px;width: 0px;overflow:hidden;"><a class="load_time_series" 
							href=" {{prefixpath}}../graphfa/samplingfeature&#61;{{result.featureactionid.samplingfeatureid.samplingfeatureid}}/resultidu&#61;{{result.resultid}}/popup=smll/"> View Time Series </a></td>
							</td></tr></div>
							
							{% for repv in resultextionproperties %}

								{% if repv.resultid.resultid == result.resultid %}
									{% if is_none == repv.propertyvalue %}
									{% elif repv.propertyid.propertyname in "dashboard sensor active" %}
										{% if repv.propertyvalue in "1" %}
											<tr class="sensor-dashboard">
											<td >{{repv.propertyname}}</td>
											<td></td>
											<td></td>
											<td  class="w3-padding-25 w3-green w3-circle w3-center">  online</td>

											</tr>
										{% else %}
											<tr class="sensor-dashboard">
											<td >{{repv.propertyname}}</td>
											<td></td>
											<td></td>
											<td  class="w3-padding-25 w3-red w3-circle w3-center"> offline</td>

											</tr>
										{% endif %}
									{% else %}
										<tr class="sensor-dashboard">
										<td >{{repv.propertyname}}</td>
										<td colspan=2>{{repv.propertyvalue}}</td>
										<td></td>
										</tr>
									{% endif %}
								{% endif %}	
							{% endfor %}
						{% endif %}	
					{% endfor %}
					</table>
					</div>
				{% if forloop.counter|divisibleby:3 %}
				</td></tr><tr>
				{% else %}
				</td>
				{% endif %}

				{% endfor %}
				</table>	

</div>

{% endblock %}
</form>