
{% load admin_extras %}

<style>
select {
    width:85%; 
    overflow:hidden; 
    white-space:pre; 
    text-overflow:ellipsis;
    
    

}
option {
          border: solid 1px #DDDDDD; 
}
.loadinggif {
    background:url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
</style>
<script>

//$.getJSON('/er/poll/'+question_id ,function(data) {
$(document).ready(function(){
	$('#email_data').click(function(){
		var outEmail = $("#outEmail").val();
		var startDate = $("#startDate").val();
		var email_data = true;
		var endDate = $("#endDate").val();
		var useDateselm =  document.getElementById("useDates"); //$("#useDates").val();
		var useDates = useDateselm.checked;
		var g_recaptcha_response = $("#g-recaptcha-response").val();
		var myresultSeriesExport = {{SelectedResults|safe}};
		var emailbutton = document.getElementById("email_data"); //$("#email_data");
		emailbutton.firstChild.data = "emailing data";
		$.ajax({
				url: "{{prefixpath}}../emaildata/",
				type: "POST",
				data: {
					'outEmail': outEmail,
					'email_data': email_data,
					'startDate': startDate,
					'endDate': endDate,
					'useDates': useDates,
					'g_recaptcha_response': g_recaptcha_response,
					'myresultSeriesExport[]': myresultSeriesExport,
					'csrfmiddlewaretoken': '{{ csrf_token }}', 
				},
				success : function(json) {
					var emailbutton = document.getElementById("email_data"); //$("#email_data");
					emailbutton.firstChild.data = "email sent";
        },
		});
		});
//	});
});
</script>
<br>
<br>
    
	<form action="" method="post">
	{% csrf_token %} 
	
	<table >
	{% for method in methods %}
	<tr><td>
		{% if not useDataset %}
<p>{{method.methoddescription}}</p>
<p>for more go to <a href="{{method.methodlink}}">{{method.methodlink}}</a>
{% endif %}
</td></tr>
{% endfor %}
</table>
	<table ><tr><td>
	<tr><td>	Reload graph with date range:	<input id="startDate" maxlength="100" value= "{{ startDate }}" name="startDate" type="text">
			Start Date (format YYYY-MM-DD HH:MM) </input>
			<input id="endDate" maxlength="100" value= "{{ endDate }}" name="endDate" type="text"/>
			End Date (format YYYY-MM-DD HH:MM) </input>
			
			<input type="submit" name="update_chart" value="Update Chart" />
			</td></tr>
			<tr><td><div class="g-recaptcha" data-sitekey="6LdYnQ8UAAAAAI38kvlrKy4kF28VMYWnGO4dDjPA"></div>
			use dates to filter data in email: <input id="useDates" type="checkbox" name="useDates" checked></input>
			&nbsp; &nbsp; Send data to this email address: <input id="outEmail" maxlength="100" name="outEmail" type="text"> </input>
			<button type="button" id="email_data" name="email_data">Email Data</button>
			
			</td></tr>
	
{% if emailsent %}
<p>Email request received, email will be delivered to {{outEmail}}</p>			
{% endif %}

	</td></tr></table>

	<div id="" style="overflow:scroll; height:400px;">
	<table >
				<tr ><th scope="col" class="section">Result Series</td>
				<th scope="col"  class="sortable column-resultid">id</th>
				<th scope="col"  class="sortable column-resultid">Variable</th>
				<th scope="col"  class="sortable column-resultid">Units</th>
				<th scope="col"  class="sortable column-resultid">Location</th>
				<th scope="col"  class="sortable column-resultid">Method</th>
				<th scope="col"  class="sortable column-resultid">Processing Level</th>
				<th scope="col"  class="sortable column-resultid">Aggregation Statistic</th></tr>
				
				{% for tsr in timeseriesresults %}
					{% for Result in resultList %}
						{% if tsr.resultid.resultid == Result.resultid %}
							<tr class="row1">
									<td ><input type="checkbox" class="action-checkbox-column" id="s1" 
									{% for SelectedResult in SelectedResults %}
										{% if Result.resultid == SelectedResult %}
											checked  
										{% endif %}
									{% endfor %}
									name="selection{{ forloop.counter0 }}" value="{{ Result.resultid }}">{{ Result.feature_action }} </input><br></td>
										
										<td >{{Result.resultid}}</td>
										<td >{{Result.variableid.variablecode}}</td>
										<td >{{Result.unitsid}}</td>
										<td >{{Result.featureactionid.samplingfeatureid}}</td>
										<td >{{Result.featureactionid.action.method.methodcode}}</td>
										<td > {{Result.processing_level}}</td>
										<td > {{tsr.aggregationstatisticcv}}</td>
						{% endif %}
					{% endfor %}
								</tr>
				
                {% endfor %}
			 </table>	
			</div>
			<br>
			
			<br>
</form>
