
{% load admin_extras %}
<style>
select {
    width:85%; 
    overflow:hidden; 
    white-space:pre; 
    text-overflow:ellipsis;
    
    

}
option {
          border: solid 1px #DDDDDD; 
}
</style>
<br>
{{ xVariableSelection }}
<br>
     <p>green=0-10cm and blue is all deeper depths</p>
	<form action="" method="post">
	{% csrf_token %} 
	<table >
	<tr><td>
	<select class="form-control" id="s2" name="xVariableSelection">
              {% for variable in xVariables %}
				{% if variable.variableid == xVariableSelection %}
					<option selected="selected" value="{{ variable.variableid }}">{{ variable }}</option>
				{% else %}
					<option  value="{{ variable.variableid }}">{{ variable }}</option>
				{% endif %}
              {% endfor %}
            </select></td>
			<td>
	<select class="form-control" id="s2" name="yVariableSelection">
              {% for variable in yVariables %}
				{% if variable.variableid == yVariableSelection %}
					<option selected="selected" value="{{ variable.variableid }}">{{ variable }}</option>
				{% else %}
					<option  value="{{ variable.variableid }}">{{ variable }}</option>
				{% endif %}
              {% endfor %}
            </select></td>
	<td><input type="submit" name="update_chart" value="Update Chart" />
	<input type="submit" name="export_data" value="Export Data" />
	</td></tr></table>
	</form>
