{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_extras %}
{% load staticfiles %}
{% load static %}
{% block content %}

		<div id="spinner"></div>

<p> You can only add process data logger file records one per data logger file. If you need to change an FTP datalogger
    file, delete the old one and add a new one. This helps prevent duplicate records from being created.
</p>   
<p>See the ODM2 Admin docs for a description of how to use datloggerfiles.
<a target="_blank" href="http://odm2.github.io/ODM2-Admin/DataLoggerFiles.html"> Using data logger files</a>
</p>




   {{ block.super }}


{% endblock %}